body, html, h5 {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .footer, .navbar {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: black;
     color: white;
     text-align: center;
  }
  
  a:link {
  text-decoration: none;
  }
  