body,
html,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  height: 100%;
  font-family: 'Inconsolata', monospace;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

q,
.Footer,
.Navbar {
  height: 100%;
  font-family: 'Inconsolata', monospace;
  font-family: 'Karla', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
